.message {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  color: #fff;
}

.imageAndText img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.text {
  font-weight: 400;
  font-size: 16px;
  background-color: #0066cc;
  padding: 8px 13px;
  border-radius: 9px 9px 0 9px;
  margin-right: 14px;
  position: relative;
}

.text:after {
  content: "";
  width: 15px;
  height: 11px;
  background-color: #0066cc;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  transform: scaleX(-1);
  position: absolute;
  bottom: 0;
  right: -14px;
}

.name {
  font-weight: 600;
  font-size: 16px;
}

.messageText {
  font-weight: 400;
  font-size: 16px;
}

.time {
  font-weight: 600;
  font-size: 10px;
  margin-right: 9px;
}
