.loader {
  /*свг и/или анимация*/
  width: 90px;
  height: 90px;
  background-image: url("assets/ellipse.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: loader-rotation;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes loader-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
